
/* MAp MetaData form */
#-oai-pmh-provider-form-map-metadata .form-type-select{
  float: left;
  margin: 0 10px 10px;
}

/* EleMentS ForM */
#oai-pmh-provider-salved-elements-form label,
#oai-pmh-provider-salved-elements-form .form-item{
  display: inline;
}

#oai-pmh-provider-salved-elements-form form{
  border-bottom: 1px solid #CCCCCC;
  padding-top: 12px;
}

#oai-pmh-provider-salved-elements-form {
  border: 1px solid #CCCCCC;
  padding: 18px;
}

